@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

header{
    height: 10vh;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: #04A659;
    letter-spacing: 15px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: inline-block;
    position: relative;
    color: white;
}
  
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    gap: 50px;
}

main p{
    font-size: 45px;
}

.left{
    height: 70vh;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    height: 50vh;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50vh;
    width: 600px;
    background-color: #1a1a1a;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label{
    color: white;
    font-size: 30px;
}

form input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

form div{
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

input[type=button]{
    font-size: 24px;
    
}

input[type=button]:hover{
    background-color: rgb(185, 185, 185);
}

input[type=button]:active{
    background-color: white;
}

